html
    head
        title Todo
        style
            include ../style.css
    body
        a(href='/todos') Ma Todolist
        h1 Todo : 
        p Message : #{todo.message}
            br
            | Completion : #{todo.completion} 
            br
            | UserId : #{todo.userId} 
            br 
            | CreatedAt : #{todo.createdAt} 
            br 
            | UpdatedAt : #{todo.updatedAt}
            br
            br
            a(href='/todos/' + todo.rowid + '/edit') Modifier
            form(action="/todos/" + todo.rowid + "?_method=DELETE" method="post")
                input(type="submit" value="Supprimer")